<div
  class="flex-fill flex-grow-1 flex-fill border border-2 border-top-0 border-dark rounded-top-2 rounded-bottom-2"
>
  <div
    class="bg-dark w-100 d-flex flex-column align-items-center justify-content-center rounded-top-2"
    style="position: relative; bottom: 0.1rem"
  >
    <h2 class="text-white m-2 fw-bolder">Senha de Acesso</h2>
  </div>
  <form
    (submit)="onSaveClick()"
    [formGroup]="changePasswordFrom"
    class="form-content m-2"
    no-validate
  >
    <mdb-form-control class="mt-3 position-relative">
      <input
        id="senha"
        name="senha"
        formControlName="senha"
        type="password"
        class="form-control"
        placeholder="Senha"
        mdbValidate
        mdbInput
        [type]="showSenha ? 'text' : 'password'"
        [ngClass]="{
          'is-invalid':
            changePasswordFrom.get('senha')?.errors?.['required'] &&
            changePasswordFrom.get('senha')?.touched
        }"
      />
      <label mdbLabel class="form-label" for="senha">Senha*</label>
      <i
        class="text-danger bi bi-exclamation-circle position-absolute px-2 mx-4 my-1 top-0 end-0"
        [ngClass]="{
          'error-bi-input':
            changePasswordFrom.get('senha')?.hasError('required') &&
            changePasswordFrom.get('senha')?.touched,
          'not-error-input':
            !changePasswordFrom.get('senha')?.hasError('required') ||
            !changePasswordFrom.get('senha')?.touched
        }"
      >
      </i>
      <span
        class="input-group-text position-absolute border-0 mx-0 top-0 end-0"
        (click)="onToogleSenha()"
        ><i [ngClass]="eyeIconClass"></i
      ></span>
    </mdb-form-control>
    <mdb-form-control class="mt-3 position-relative">
      <input
        id="confirmaSenha"
        name="confirmaSenha"
        formControlName="confirmaSenha"
        type="password"
        placeholder="Confirme a senha"
        mdbValidate
        mdbInput
        [type]="showConfirmaSenha ? 'text' : 'password'"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            !changePasswordFrom.get('confirmaSenha').valid &&
            changePasswordFrom.get('confirmaSenha')?.touched
        }"
      />
      <label mdbLabel class="form-label" for="confirmaSenha"
        >Confirma Senha*</label
      >
      <i
        class="text-danger bi bi-exclamation-circle position-absolute px-2 mx-4 my-1 top-0 end-0"
        [ngClass]="{
          'error-bi-input':
            !changePasswordFrom.get('confirmaSenha').valid &&
            changePasswordFrom.get('confirmaSenha')?.touched,
          'not-error-input':
            changePasswordFrom.get('confirmaSenha').valid ||
            !changePasswordFrom.get('confirmaSenha')?.touched
        }"
      >
      </i>
      <span
        class="input-group-text position-absolute border-0 mx-0 top-0 end-0"
        (click)="onToogleConfirmaSenha()"
        ><i [ngClass]="eyeIconClassConfirmaSenha"></i
      ></span>
    </mdb-form-control>
    <div class="input-group mt-3 w-100 text-center justify-content-center">
      <button
        type="submit"
        class="btn btn-primary w-25 w-responsive"
        disabled
        data-mdb-ripple-init
        [ngClass]="{ disabled: !changePasswordFrom.valid }"
        [disabled]="!changePasswordFrom.valid"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
