<div class="flex-fill flex-grow-1 flex-fill border border-2 border-top-0 border-dark rounded-top-2 rounded-bottom-2">
  <div class="bg-dark w-100 d-flex flex-column align-items-center justify-content-center rounded-top-2"
    style="position: relative; bottom: 0.1rem">
    <h2 class="text-white m-2">Senha de Acesso</h2>
  </div>
  <form (submit)="onSaveClick()" [formGroup]="changePasswordFrom" class="form-content m-2" no-validate>
    <mat-form-field appearance="outline" class="w-100 mt-2" readonly>
      <mat-label>Senha</mat-label>
      <input matInput id="senha" name="senha" formControlName="senha" type="password" class="form-control"
        placeholder="Senha" [type]="showSenha ? 'text' : 'password'" [ngClass]="{'is-invalid':
            changePasswordFrom.get('senha')?.errors?.['required'] &&
            changePasswordFrom.get('senha')?.touched
        }" />
      <mat-icon matSuffix>
        <i class="position-fixed" (click)="onToogleSenha()" [ngClass]="eyeIconClass" [class.text-danger]=" changePasswordFrom.get('senha')?.hasError('required') &&
                              changePasswordFrom.get('senha')?.touched"></i>
      </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Confirma Senha</mat-label>
      <input matInput id="confirmaSenha" name="confirmaSenha" formControlName="confirmaSenha" type="password"
        placeholder="Confirme a senha" [type]="showConfirmaSenha ? 'text' : 'password'" class="form-control " [ngClass]="{'is-invalid':
            !changePasswordFrom.get('confirmaSenha').valid &&
            changePasswordFrom.get('confirmaSenha')?.touched }" />
      <mat-icon matSuffix>
        <i class="position-fixed" (click)="onToogleConfirmaSenha()" [ngClass]="eyeIconClassConfirmaSenha"
          [class.text-danger]=" changePasswordFrom.get('confirmaSenha')?.hasError('required') &&
                              changePasswordFrom.get('confirmaSenha')?.touched"></i>
      </mat-icon>
    </mat-form-field>
    <div class="input-group mt-3 w-100 text-center justify-content-center">
      <button type="submit" class="btn btn-primary w-25 w-responsive" disabled data-mdb-ripple-init
        [ngClass]="{ disabled: !changePasswordFrom.valid }" [disabled]="!changePasswordFrom.valid">
        Salvar
      </button>
    </div>
  </form>
</div>
