<table datatable id="dataTableComponent" class="table table-striped row-border hover"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="background-color: #ffffff;"  >
  <thead>
    <tr>
      <th *ngFor="let column of columns" style="width:auto;" >{{ column.title }}</th>
      <th style="width:2px;"></th>
      <th style="width:2px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data" (dblclick)="handleAction('edit', row['id'], row, row['tipoCategoria'])" style="cursor: pointer;"  >
      <td *ngFor="let column of columns" >
          <span style="cursor: text;">{{ row[column.data] }}</span>
      </td>
      <td >
        <div class="bg-warning bg-opacity-75 text-center border border-2 border-dark-subtle rounded-circle p-1">
          <i class="bi bi-pencil-square" (click)="handleAction('edit', row['id'], row, row['tipoCategoria'])" style="cursor: pointer;"></i>
        </div>
      </td>
      <td>
          <div class="bg-danger bg-opacity-75 text-center border border-2 border-dark-subtle rounded-circle p-1">
            <i class="bi bi-trash " (click)="handleAction('delete', row['id'], row, row['tipoCategoria'])" style="cursor: pointer;"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
