<div class="d-flex flex-column h-100">
  <div class="flex-grow-0 bg-info w-100 h-15">
    <nav
      id="navBrand"
      class="bg-dark navbar navbar-dark navbar-expand-sm navbar-expand-md"
    >
      <div class="container-fluid">
        <div class="d-flex justify-content-start">
          <a
            class="navbar-brand tituloHeader align-text-lg-start fs-6 fs-sm-5 fs-md-4 fs-lg-3"
            href="/"
          >
            DESPESA$ PESSOAI$</a
          >
        </div>
        <div class="d-flex justify-content-end">
          <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item">
              <a
                class="nav-link fs-6 fs-sm-5 fs-md-4 fs-lg-3 textBtnHeader"
                href="/login"
                >Fazer login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div
    class="flex-fill flex-grow-1 flex-fill m-2 border border-2 border-dark border-top-0 rounded-top-2 rounded-bottom-2"
  >
    <div
      class="bg-dark w-100 d-flex flex-column align-items-center justify-content-center rounded-top-2"
      style="position: relative; bottom: 0.1rem"
    >
      <h2 class="text-white m-2 fw-bolder">Conta de Acesso</h2>
    </div>
    <form
      (submit)="onSaveClick()"
      [formGroup]="createAccountFrom"
      class="form-content m-2"
      no-validate
    >
      <mdb-form-control class="mt-3 position-relative">
        <input
          id="email"
          name="email"
          formControlName="email"
          type="text"
          class="form-control"
          placeholder="Entre com seu e-mail"
          mdbValidate
          mdbInput
          [ngClass]="{
            'is-invalid':
              createAccountFrom.get('email')?.errors?.['required'] &&
              createAccountFrom.get('email')?.touched
          }"
        />
        <label mdbLabel class="form-label" for="email">E-mail</label>
        <i
          class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
          [ngClass]="{
            'error-bi-input':
              createAccountFrom.get('email')?.hasError('required') &&
              createAccountFrom.get('email')?.touched,
            'not-error-input':
              (!createAccountFrom.get('email')?.hasError('required') &&
                !createAccountFrom.get('email')?.hasError('email')) ||
              !createAccountFrom.get('email')?.touched
          }"
        >
        </i>
      </mdb-form-control>
      <mdb-form-control class="mt-3 position-relative">
        <input
          id="nome"
          name="nome"
          formControlName="nome"
          type="text"
          class="form-control"
          placeholder="Entre com seu nome"
          mdbValidate
          mdbInput
          [ngClass]="{
            'is-invalid':
              createAccountFrom.get('nome')?.errors?.['required'] &&
              createAccountFrom.get('nome')?.touched
          }"
        />
        <label mdbLabel class="form-label" for="nome">Nome</label>
        <i
          class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
          [ngClass]="{
            'error-bi-input':
              createAccountFrom.get('nome')?.hasError('required') &&
              createAccountFrom.get('nome')?.touched,
            'not-error-input':
              !createAccountFrom.get('nome')?.hasError('required') ||
              !createAccountFrom.get('nome')?.touched
          }"
        >
        </i>
      </mdb-form-control>
      <mdb-form-control class="mt-3 position-relative">
        <input
          id="sobreNome"
          name="sobreNome"
          formControlName="sobreNome"
          type="text"
          class="form-control"
          placeholder="Entre com seu sobre nome (opcional)"
          mdbInput
        />
        <label mdbLabel class="form-label" for="sobreNome">Sobre Nome</label>
      </mdb-form-control>
      <mdb-form-control class="mt-3 position-relative">
        <input
          id="telefone"
          name="telefone"
          formControlName="telefone"
          type="text"
          class="form-control"
          placeholder="Entre com seu telefone"
          mdbValidate
          mdbInput
          mask="(00) 0000-0000"
          [ngClass]="{
            'is-invalid':
              !createAccountFrom.get('telefone').valid &&
              createAccountFrom.get('telefone')?.touched
          }"
        />
        <label mdbLabel class="form-label" for="telefone">Telefone</label>
        <i
          class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
          [ngClass]="{
            'error-bi-input':
              !createAccountFrom.get('telefone').valid &&
              createAccountFrom.get('telefone')?.touched,
            'not-error-input':
              createAccountFrom.get('telefone').valid ||
              !createAccountFrom.get('telefone')?.touched
          }"
        >
        </i>
      </mdb-form-control>
      <mdb-form-control class="mt-3 position-relative">
        <input
          id="senha"
          name="senha"
          formControlName="senha"
          type="password"
          class="form-control"
          placeholder="Senha"
          mdbValidate
          mdbInput
          [type]="showSenha ? 'text' : 'password'"
          [ngClass]="{
            'is-invalid':
              createAccountFrom.get('senha')?.errors?.['required'] &&
              createAccountFrom.get('senha')?.touched
          }"
        />
        <label mdbLabel class="form-label" for="senha">Senha</label>
        <i
          class="text-danger bi bi-exclamation-circle position-absolute px-2 mx-4 my-1 top-0 end-0"
          [ngClass]="{
            'error-bi-input':
              createAccountFrom.get('senha')?.hasError('required') &&
              createAccountFrom.get('senha')?.touched,
            'not-error-input':
              !createAccountFrom.get('senha')?.hasError('required') ||
              !createAccountFrom.get('senha')?.touched
          }"
        >
        </i>
        <span
          class="input-group-text position-absolute border-0 mx-0 top-0 end-0"
          (click)="onToogleSenha()"
          ><i [ngClass]="eyeIconClass"></i
        ></span>
      </mdb-form-control>
      <mdb-form-control class="mt-3 position-relative">
        <input
          id="confirmaSenha"
          name="confirmaSenha"
          formControlName="confirmaSenha"
          type="password"
          placeholder="Confirme a senha"
          mdbValidate
          mdbInput
          [type]="showConfirmaSenha ? 'text' : 'password'"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              !createAccountFrom.get('confirmaSenha').valid &&
              createAccountFrom.get('confirmaSenha')?.touched
          }"
        />
        <label mdbLabel class="form-label" for="confirmaSenha"
          >Confirma Senha</label
        >
        <i
          class="text-danger bi bi-exclamation-circle position-absolute px-2 mx-4 my-1 top-0 end-0"
          [ngClass]="{
            'error-bi-input':
              !createAccountFrom.get('confirmaSenha').valid &&
              createAccountFrom.get('confirmaSenha')?.touched,
            'not-error-input':
              createAccountFrom.get('confirmaSenha').valid ||
              !createAccountFrom.get('confirmaSenha')?.touched
          }"
        >
        </i>
        <span
          class="input-group-text position-absolute border-0 mx-0 top-0 end-0"
          (click)="onToogleConfirmaSenha()"
          ><i [ngClass]="eyeIconClassConfirmaSenha"></i
        ></span>
      </mdb-form-control>
      <div
        class="input-group mt-3 d-flex flex-column align-items-center justify-content-center"
      >
        <button
          type="submit"
          class="btn btn-primary w-responsive"
          disabled
          data-mdb-ripple-init
          [ngClass]="{ disabled: !createAccountFrom.valid }"
          [disabled]="!createAccountFrom.valid"
        >
          Criar Conta
        </button>
      </div>
    </form>
  </div>
  <div class="h-10">
    <footer
      class="bg-dark text-center text-white footer navbar-fixed-bottom"
      sty
    >
      <div class="container p-1 pb-0">
        <section class="mb-2">
          <!-- Facebook -->
          <a
            class="btn text-white btn-floating m-1 bg-primary"
            target="_blank"
            rel="noopener"
            href="https://www.facebook.com/alex.ribeiro.noeh/"
            role="button"
          >
            <i class="bi bi-facebook btnSocialMedia"></i>
          </a>
          <!-- Linkedin -->
          <a
            class="btn text-white btn-floating m-1"
            target="_blank"
            rel="noopener"
            href="https://www.linkedin.com/in/alex-ribeiro-de-faria-b3376b26/"
            role="button"
          >
            <i class="bi bi-linkedin btnSocialMedia"></i>
          </a>
          <!-- Github -->
          <a
            class="btn text-white btn-floating m-1 bg-black"
            target="_blank"
            rel="noopener"
            href="https://github.com/alexfariakof"
            role="button"
          >
            <i class="bi bi-github btnSocialMedia"></i>
          </a>
        </section>
      </div>
      <div class="text-center fs-sm-4 fs-md-4 fs-lg-3 bg-black opacity-50">
        © 2023 Copyright Honey TI. Todos os direitos reservados - Desenvolvido
        por Alex Ribeiro de Faria
      </div>
    </footer>
  </div>
</div>
