.tituloHeader {
  color: lightcyan;
}

.textBtnHeader {
  color: #0d6efd;
}

.input-width {
  width: 6.8rem;
}

.error-bi-input {
  display: inline;

}

.not-error-input {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
.btnSocialMedia {
  font-size: 2rem;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-input {
  border: 0.1rem solid red;
  border-radius: 0.2rem;
}


.max-height-scroll {
  max-height: auto;
  overflow-y: auto;
}

.form-content {
  scrollbar-width: thin;
  scrollbar-color: gray ;
  border: 0;
}

/* Works on Chrome, Edge, and Safari */
.form-content::-webkit-scrollbar {
  width: 0.2rem;
}

.form-content::-webkit-scrollbar-track {
  background-color: transparent ;
  border: 0;
}

.form-content::-webkit-scrollbar-thumb {
  background-color: transparent ;
  border-radius: 0.4rem;
  border: 0.1rem solid gray;
}

.footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .social-media a,
  .social-media i {
    font-size: 4px;
  }
  h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: white;
  }
  .copyright {
    font-size: 0.1rem;
  }
}

@media screen and (max-width: 992px) {
  .social-media a,
  .social-media i {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 0;
    color: white;
  }
  .copyright {
    font-size: 0.8rem;
  }

}

@media screen and (min-width: 993px) {
  .social-media a, .social-media i {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
    color: white;
  }

  .copyright {
    font-size: 1.4rem;
  }
}

footer {
  .opacity-50 {
    opacity: 0.5;
  }
}

.icon-img {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
