<app-layout>
  <div class="flex-grow-0 bg-info w-100">
    <app-barra-ferramenta></app-barra-ferramenta>
  </div>
  <div
    class="flex-fill flex-grow-1 flex-fill m-1 border border-dark border-2 border-top-0 rounded-top-4 rounded-bottom-2"
  >
    <div
      class="bg-dark w-100 d-flex flex-column align-items-center justify-content-center rounded-top-4"
      style="position: relative; bottom: 0.1rem"
    >
      <h2 class="text-white m-2 fw-bolder">Meus Dados Pessoais</h2>
    </div>
    <form
      (submit)="onSaveClick()"
      [formGroup]="prefilFrom"
      class="form-content m-2"
      no-validate
    >
      <input
        id="id"
        name="id"
        formControlName="id"
        type="hidden"
        class="form-control"
        [value]="0"
      />
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input
          matInput
          readonly
          id="email"
          name="email"
          formControlName="email"
          type="email"
          placeholder="Entre com seu email"
          [ngClass]="{
            'is-invalid':
              prefilFrom.get('email')?.errors?.['required'] &&
              prefilFrom.get('email')?.touched
          }"
        />
        <mat-icon matSuffix>
          <i
            class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
            [ngClass]="{
              'error-bi-input':
                prefilFrom.get('email')?.hasError('required') &&
                prefilFrom.get('email')?.touched,
              'not-error-input':
                !prefilFrom.get('email')?.hasError('required') ||
                !prefilFrom.get('email')?.touched
            }"
          >
          </i>
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome</mat-label>
        <input
          matInput
          id="nome"
          name="nome"
          formControlName="nome"
          type="text"
          placeholder="Entre com o seu nome"
          [ngClass]="{
            'is-invalid':
              prefilFrom.get('nome')?.errors?.['required'] &&
              prefilFrom.get('nome')?.touched
          }"
        />
        <mat-icon matSuffix>
          <i
            class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
            [ngClass]="{
              'error-bi-input':
                prefilFrom.get('nome')?.hasError('required') &&
                prefilFrom.get('nome')?.touched,
              'not-error-input':
                !prefilFrom.get('nome')?.hasError('required') ||
                !prefilFrom.get('nome')?.touched
            }"
          >
          </i>
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Sobre Nome</mat-label>
        <input
          matInput
          id="sobreNome"
          name="sobreNome"
          formControlName="sobreNome"
          type="text"
          placeholder="Entre com o seu sobre nome"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Telefone</mat-label>
        <input
          matInput
          mask="(00) 0000-0000"
          id="telefone"
          name="telefone"
          formControlName="telefone"
          type="tel"
          placeholder="Entre com o seu telefone"
          [ngClass]="{
            'is-invalid':
              prefilFrom.get('telefone')?.errors?.['required'] &&
              prefilFrom.get('telefone')?.touched
          }"
        />
        <mat-icon matSuffix>
          <i
            class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
            [ngClass]="{
              'error-bi-input':
                !prefilFrom.get('telefone').valid &&
                prefilFrom.get('telefone')?.touched,
              'not-error-input':
                prefilFrom.get('telefone')?.valid ||
                !prefilFrom.get('telefone')?.touched
            }"
          >
          </i>
        </mat-icon>
      </mat-form-field>
      <div
        class="input-group mt-3 d-flex flex-column align-items-center justify-content-center"
      >
        <button
          type="submit"
          class="btn btn-primary w-responsive"
          [ngClass]="{ disabled: !prefilFrom.valid }"
          [disabled]="!prefilFrom.valid"
        >
          Salvar
        </button>
      </div>
    </form>
  </div>
</app-layout>
