
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette
  ),
  typography: (
    brand-family: 'sans-serif'
  ),
  density: (
    scale: -5
  ))
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html {
  @include mat.all-component-themes($my-theme);
}

html, body {
  height: 100%;
  overflow: hidden;
  color: black;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
  .opacity-50 {
    opacity: 0.5;
  }
}

h2 {
  font-size: smaller;
  font-weight: lighter;
  margin: 2vw;
  color: white;
}

.scroll-content {
  scrollbar-width: 0;
  scrollbar-color: gray ;
  scroll-margin: 0;
  border: 0;
}

.scroll-content::-webkit-scrollbar-corner {
  width: 0;
}

/* Works on Chrome, Edge, and Safari */
.scroll-content::-webkit-scrollbar {
  width: 0.2rem;
  scroll-margin: 0;
}

.scroll-content::-webkit-scrollbar-track {
  scroll-margin: 0;
  background-color: transparent ;
  border: 0;
}

.scroll-content::-webkit-scrollbar-thumb {
  scroll-margin: 0;
  background-color: transparent ;
  border-radius: 0.4rem;
  border: 0.1rem solid gray;
}

.content-header-max-height {
  height: 10vh;
}

.content-barra-ferramenta-max-height {
  height: 10vh;
  padding: 1vh;
  padding-bottom: 0;
  margin-bottom: 1vh;
}

.content-body-max-height {
  height: 80vh;
  max-width: 98vw;
  max-height: 78vh;
  margin-bottom: 1.4vh;
}

.scroll-content {
  scrollbar-width: 0;
  scrollbar-color: gray ;
  scroll-margin: 0;
  border: 0;
}

.scroll-content::-webkit-scrollbar-corner {
  width: 0;
}

/* Works on Chrome, Edge, and Safari */
.scroll-content::-webkit-scrollbar {
  width: 0.2rem;
  scroll-margin: 0;
}

.scroll-content::-webkit-scrollbar-track {
  scroll-margin: 0;
  background-color: transparent ;
  border: 0;
}

.scroll-content::-webkit-scrollbar-thumb {
  scroll-margin: 0;
  background-color: transparent ;
  border-radius: 0.4rem;
  border: 0.1rem solid gray;
}

// Classe Responsável por Abrir elementos a frente do modalformComponent ex.: Mat-Select, Mat-Datepicker
.cdk-overlay-container {
  z-index: 1999;
}

.loading-modal .modal-content {
  background-color: transparent;
  text-align: center;
}


