
.full-height {
    height: 100%;
  }
  
  .footer {
    position: fixed;
    bottom:0;
    width: 100%;
  }
  
  .tituloHeader{
    color: lightcyan;
  }
  
  .menu-select
  {
      background: #27ae60 !important;
      border-radius: 0.4rem;
      border-color: lightcyan;
      box-sizing: 1rem;
      cursor: pointer;
  }
  