.full-height {
  height: 60%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tituloHeader {
  color: lightcyan;
}

.textBtnHeader {
  color: #0d6efd;
}

.btnSocialMedia {
  font-size: 2rem;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-bi-input {
  display: inline;

}

.not-error-input {
  display: none;
}
